@model Auction.Contracts.Items.ItemDto

@{
    ViewData["Title"] = "BidItemAsync";
}

<div class="container">
    <h1 class="h1-align-center">Make your bid</h1>
    <form asp-action="BidItemAsync" method="post">
        <div class="row">
            <div class="col-sm-3">
                <div class="card mt-3">
                    <div class="card-body">
                        <div class="card-img-top"></div>
                        <h4 class="card-title">@Model.Name</h4>
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text"><b>Started price:</b> @Model.StartedPrice</p>
                        <p class="card-text"><b>Current Price:</b> <span id="currentPrice">@Model.CurrentPrice</span></p>
                        <input type="hidden" name="currentPrice" value="@Model.CurrentPrice"/>
                        <p class="text-danger"> @ViewBag.ErrorMessage </p>
                        <p class="card-text"><b>Your bid:</b><input id="lastBid" name="lastBid" type="number" /></p>
                        <div>
                            <input id="sendBid" type="submit" value="bid" class="btn btn-primary" asp-route-id="@Model.Id" />
                            <input type="hidden" id="modelId" name="modelId" value="@Model.Id"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/bid.js"></script>

