@model Auction.Contracts.Users.UserDto

@{
    ViewData["Title"] = "GetUserByName";
}
<div class="text-center mt-5">
    <form asp-controller="User" asp-action="GetUserForAdminPage" method="get">
        <p>
            <b>Find user:</b> <input type="text" name="name" asp-for="@Model.Name" />
            <input type="submit" value="Search" />
            <span asp-validation-for="@Model.Name" />
        </p>
        <div class="validation" asp-validation-summary="All"></div>
    </form>
</div>

@if (Model != null)
{
    <table class="table" style="max-width: 70%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(user => user.Name)
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    @Model.Name
                </td>
                <td class="td-form-width">
                    @using (Html.BeginForm("GetUserByName", "User", new { name = @Model.Name },FormMethod.Get))
                    {
                        <input type="submit" class="btn btn-dark" value="Edit" />
                    }
                </td>
                <td class="td-form-width">
                    @using (Html.BeginForm("DeleteUserAsync", "User", new { id = Model.Id }))
                    {
                        <input type="submit" class="btn btn-danger" value="Delete"  />
                    }
                </td>
            </tr>
        </tbody>
    </table>
}
